numpy
requests
pandas
tqdm
pytz
colorlover
ipython
jupyter
jupyterlab
markdown
freeze

# GDAL
rasterio
matplotlib
seaborn
plotly

Pillow
scikit-learn
h5py
tabulate
vulture

zope.dottedname
boto3
geopandas
shapely
fiona
pycrs

netCDF4
